<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleeaf/layout">
<head th:replace="~{fragments/metas :: meta}">
</head>
<body>
<div class="container">
<div th:replace="~{fragments/header :: header}"></div>
<h1 th:text="${title}" class="text-center">title</h1>

<form class="form-horizontal" role="form" th:action="@{~/admin/save}" method="post">
    <div class="form-group">
        <label for="firstname" class="col-sm-2 control-label">NAME:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="firstname" name="adName"
                   placeholder="please input name">
        </div>
    </div>
    <div class="form-group">
        <label for="lastname" class="col-sm-2 control-label">PASSWORD:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="lastname" name="adPassword"
                   placeholder="please input pwd">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">OK</button>
            <button type="reset" class="btn btn-default">reset</button>
        </div>
    </div>
</form>

<div th:replace="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>