<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <head th:fragment="meta">
        <meta charset="UTF-8">
        <link href="https://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js" th:src="@{/bootstrap/bootstrap.min.js}"></script>
        <title>Thymeleaf In Action</title>
    </head>
</body>
</html>